@import 'reset';

$back-primary: #202040;
$back-secundary: #202060;
$dark-pink: #602080;
$pink: #b030b0;
$transparent: rgb(0,0,0,0);

$array_value: 1200;



html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
}

main {
    width: 100%;
    flex-grow: 1;
    background-color:$back-secundary;

    display:flex;
    justify-content: center;
    align-items: center;

}

.char-ball {

    position: relative;


}

.char-ball svg {
    transform: rotate(270deg);
    &.circle-animation {
        animation: rotate 2s linear infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.layer {
    stroke: $pink;
    stroke-dashoffset: 0;
    stroke-linecap: round;

    &.n1 {
        stroke-dasharray: $array_value;
        &.circle-animation {
            animation: layer-animation 5s linear infinite;
        }
    }
    &.n2 {
        stroke-dasharray: $array_value/2;
        &.circle-animation {
            animation: layer-animation 6s linear infinite;
        }
    }
    &.n3 {
        stroke-dasharray: $array_value/4;
        &.circle-animation {
            animation: layer-animation 7s linear infinite;
        }
    }

}




@keyframes layer-animation {
    0%, 100% {
        stroke-dashoffset: 0;
    }
    0.0001% {
        stroke-dashoffset: ($array_value*2);
    }
    50% {
        stroke-dashoffset: $array_value - 200;  
    }

}

.talk-button {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: $pink;
    position: absolute;
    top: 40px;
    left: 40px;
    animation: button-init 1s ease-in;

}

@keyframes button-init {
    0%, 30% {
        background-color: $back-secundary;
    }
    100% {
        color: $pink;
    }
}

.transition-button-pressed {
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}


.chat-log {
    width: 500px;
    height: 100%;
    background-color: $back-primary;
}