/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
}

main {
  width: 100%;
  flex-grow: 1;
  background-color: #202060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-ball {
  position: relative;
}

.char-ball svg {
  transform: rotate(270deg);
}
.char-ball svg.circle-animation {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.layer {
  stroke: #b030b0;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.layer.n1 {
  stroke-dasharray: 1200;
}
.layer.n1.circle-animation {
  animation: layer-animation 5s linear infinite;
}
.layer.n2 {
  stroke-dasharray: 600;
}
.layer.n2.circle-animation {
  animation: layer-animation 6s linear infinite;
}
.layer.n3 {
  stroke-dasharray: 300;
}
.layer.n3.circle-animation {
  animation: layer-animation 7s linear infinite;
}

@keyframes layer-animation {
  0%, 100% {
    stroke-dashoffset: 0;
  }
  0.0001% {
    stroke-dashoffset: 2400;
  }
  50% {
    stroke-dashoffset: 1000;
  }
}
.talk-button {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-color: #b030b0;
  position: absolute;
  top: 40px;
  left: 40px;
  transition: all 0.4s ease-in-out;
  animation: button-init 1s ease-in;
}

@keyframes button-init {
  0%, 30% {
    background-color: #202060;
  }
  100% {
    color: #b030b0;
  }
}
.transition-button-pressed {
  transform: scale(0);

}

.chat-log {
  width: 500px;
  height: 100%;
  background-color: #202040;
}

/*# sourceMappingURL=style.css.map */
